#follow {
    padding-top: 50px;
    }
    
img { 
        margin: auto;
        display: block;
    }

a {
    display: block;
    margin: auto;
}

.jumbotron {
    text-align: center;
    width: 800px;
    margin: auto;
}

body,html,.jumbotron {
    height: auto;
}
